@use "../../style/main.scss" as *;


.header {
    padding-top: rem(30px);
    padding-bottom: rem(30px);
    background-color: rgb(31, 31, 31);
    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__title-link {
        cursor: pointer;
        font-size: rem(27px);
        color: chocolate;
        &:hover {
            color: rgb(255, 255, 255);
        }
    }
}

.menu {
    cursor: pointer;
    &__list {
        display: flex;
        align-items: center;
        gap: rem(30px)
    }
    &__link {
        color: rgb(255, 255, 255);
        font-size: rem(27px);
        &:hover {
            color: chocolate;
        }
    }
}